<wivae-section name="Grayscale" [component]="component">
  <ul class="mb-2 columns-2">
    <li *ngFor="let method of editor.engine | grayscale">
      <button
        type="button"
        class="mb-1 w-full bg-slate-200 font-semibold hover:bg-blue-300 active:bg-blue-400 disabled:bg-slate-200 disabled:text-slate-400"
        [disabled]="disabled"
        (click)="method.callback()"
      >
        {{ method.name }}
      </button>
    </li>
    <li>
      <button type="button" [disabled]="true" class="invisible mb-1">0</button>
      <button
        type="button"
        [disabled]="disabled"
        class="mb-1 w-full bg-slate-200 font-semibold hover:bg-blue-300 active:bg-blue-400 disabled:bg-slate-200 disabled:text-slate-400"
        (click)="showManualGrayscale()"
      >
        Manual
      </button>
    </li>
  </ul>
</wivae-section>
