<button
  type="button"
  [title]="'Show toolbar'"
  (click)="gui.toggleToolbar()"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="faPenRuler"></fa-icon>
  <fa-icon [icon]="gui.showToolbar ? faCaretLeft : faCaretRight"></fa-icon>
</button>

<span class="mx-2 border-l border-slate-400"></span>

<span *ngFor="let field of summary" class="mr-4 text-sm leading-none">{{
  field
}}</span>

<span class="flex-grow"></span>

<button
  type="button"
  [title]="'Show information'"
  (click)="gui.toggleInfobar()"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="gui.showInfobar ? faCaretRight : faCaretLeft"></fa-icon>
  <fa-icon [icon]="faInfo"></fa-icon>
</button>
