<button
  type="button"
  [title]="'Show toolbar'"
  (click)="core.toggleToolbar()"
  class="button"
>
  <fa-icon [icon]="faPenRuler"></fa-icon>
  <fa-icon [icon]="core.showToolbar ? faCaretLeft : faCaretRight"></fa-icon>
</button>

<span class="separator"></span>

<span *ngFor="let field of editor.status" class="field">{{ field }}</span>

<span class="spawn"></span>

<button
  type="button"
  [title]="'Show information'"
  (click)="core.toggleInfobar()"
  class="button"
>
  <fa-icon [icon]="core.showInfobar ? faCaretRight : faCaretLeft"></fa-icon>
  <fa-icon [icon]="faInfo"></fa-icon>
</button>
