<wivae-alerts class="absolute w-full"></wivae-alerts>
<button
  type="button"
  (dragenter)="handleDrag($event)"
  (dragover)="handleDrag($event)"
  (dragleave)="handleDragLeave($event)"
  (drop)="handleFile($event)"
  (click)="handleFile()"
  class="flex h-full w-full flex-col items-center justify-center bg-slate-50"
  [ngClass]="dragging ? 'cursor-copy text-slate-300' : ''"
>
  <div
    class="border-2 border-dashed bg-white px-12 py-6"
    [ngClass]="dragging ? 'border-slate-300' : 'border-slate-500'"
  >
    <p>Drop image here</p>
    <p [ngClass]="dragging ? 'text-slate-200' : 'text-slate-400'">- or -</p>
    <p>Click to upload</p>
  </div>
</button>
