<header class="header">
  <h1 class="title">
    <b>W</b>eb <b>I</b>mage <b>V</b>iewer <b>A</b>nd <b>E</b>ditor
  </h1>
</header>

<div class="content">
  <aside wivae-toolbar></aside>
  <section class="viewer">
    <header wivae-menubar></header>
    <main class="main" [ngSwitch]="'clear'">
      <div *ngSwitchCase="'clear'" wivae-uploader></div>
      <div *ngSwitchCase="'open'" wivae-canvas></div>
      <div *ngSwitchCase="'unsupported'" wivae-message></div>
      <div *ngSwitchDefault wivae-message></div>
    </main>
    <footer wivae-statusbar></footer>
  </section>
  <aside wivae-infobar></aside>
</div>
