<wivae-section name="Source file" [component]="component">
  <table class="w-full border-separate border-spacing-y-1 text-sm">
    <tbody>
      <tr *ngFor="let field of file | fileInfo">
        <td class="mr-2 p-0">
          <label [htmlFor]="field.id">{{ field.label }}</label>
        </td>
        <td class="h-0 p-0">
          <input
            id="{{ field.id }}"
            type="text"
            readonly
            [disabled]="disabled"
            [value]="field.value"
            class="m-0 h-full w-full border-0 bg-slate-50 px-1 py-0 text-xs"
          />
        </td>
      </tr>
    </tbody>
  </table>
</wivae-section>
