<button
  type="button"
  title="Upload"
  [disabled]="unusable"
  (click)="handleFile()"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="faUpload"></fa-icon>
</button>
<button
  type="button"
  title="Download"
  [disabled]="disabled"
  (click)="engine?.saveImage()"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="faDownload"></fa-icon>
</button>

<span class="mx-2 border-l border-slate-400"></span>

<button
  type="button"
  title="Reset"
  [disabled]="disabled || !engine?.history?.canUndo"
  (click)="engine?.clear()"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="faFileImage"></fa-icon>
</button>

<button
  type="button"
  title="Close"
  [disabled]="disabled"
  (click)="closeImage()"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="faTrash"></fa-icon>
</button>

<span class="flex-grow"></span>

<button
  type="button"
  title="Fit to canvas"
  [disabled]="disabled"
  (click)="engine?.fit()"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
  [ngClass]="{ 'text-blue-700': engine?.fitted }"
>
  <fa-layers>
    <fa-icon [icon]="faSquare"></fa-icon>
    <fa-icon [icon]="faExpand" transform="shrink-4"></fa-icon>
  </fa-layers>
</button>
<button
  type="button"
  title="Real size"
  [disabled]="disabled"
  (click)="engine?.realSize()"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
  [ngClass]="{ 'text-blue-700': engine?.realSized }"
>
  <fa-layers>
    <fa-icon [icon]="faSquare"></fa-icon>
    <fa-icon [icon]="fa1" transform="shrink-4"></fa-icon>
  </fa-layers>
</button>
<button
  type="button"
  title="Zoom in"
  [disabled]="disabled || !engine?.canZoomIn"
  (click)="engine?.zoomIn()"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="faMagnifyingGlassPlus"></fa-icon>
</button>
<button
  type="button"
  title="Zoom out"
  [disabled]="disabled || !engine?.canZoomOut"
  (click)="engine?.zoomOut()"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="faMagnifyingGlassMinus"></fa-icon>
</button>

<span class="mx-2 border-l border-slate-400"></span>

<button
  type="button"
  title="Rotate right 90°"
  [disabled]="disabled"
  (click)="engine?.apply(Effect.ROTATE_90)"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="faRotateRight"></fa-icon>
</button>
<button
  type="button"
  title="Rotate left 90°"
  [disabled]="disabled"
  (click)="engine?.apply(Effect.ROTATE_270)"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="faRotateLeft"></fa-icon>
</button>
<button
  type="button"
  title="Flip vertical"
  [disabled]="disabled"
  (click)="engine?.apply(Effect.FLIP_VERTICAL)"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="faRightLeft" [rotate]="90"></fa-icon>
</button>
<button
  type="button"
  title="Flip horizontal"
  (click)="engine?.apply(Effect.FLIP_HORIZONTAL)"
  [disabled]="disabled"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="faRightLeft"></fa-icon>
</button>

<span class="mx-2 border-l border-slate-400"></span>

<button
  type="button"
  title="Undo"
  [disabled]="disabled || !engine?.history?.canUndo"
  (click)="engine?.undo()"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="faReply"></fa-icon>
</button>
<button
  type="button"
  title="Redo"
  [disabled]="disabled || !engine?.history?.canRedo"
  (click)="engine?.redo()"
  class="hover:text-blue-800 focus:ring active:text-blue-900 disabled:text-slate-400"
>
  <fa-icon [icon]="faShare"></fa-icon>
</button>
